:root {
    --default-font: "Open Sans",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Jost",  sans-serif;
    --nav-font: "Poppins",  sans-serif;

    /* Global Colors */
    --background-color: #ffffff;
    --default-color: #444444;
    --heading-color: #37517e;
    --accent-color: #47b2e4;
    --surface-color: #ffffff;
    --contrast-color: #ffffff;

    /* Nav-menu colors */
    --nav-color: #ffffff;
    --nav-hover-color: #47b2e4;
    --nav-mobile-background-color: #ffffff;
    --nav-dropdown-background-color: #ffffff;
    --nav-dropdown-color: #444444;
    --nav-dropdown-hover-color: #47b2e4;
}

/* Color Presets */

.light-background {
    --background-color: #f5f6f8;
    --surface-color: #ffffff;
}

.dark-background {
    --background-color: #37517e;
    --default-color: #ffffff;
    --heading-color: #ffffff;
    --surface-color: #4668a2;
    --contrast-color: #ffffff;
}